page-tabs {

  .ion-ios-tab-tab1 {
    content: url("../assets/image/video.png");
    width: 20px;
    height: 20px;

  }

  .ion-ios-tab-tab1-outline {
    content: url("../assets/image/404.png");
    width: 20px;
    height: 20px;
  }


  .ion-md-tab-tab1 {
    content: url("../assets/image/video.png");
  }

  .ion-md-tab-tab1-outline {
    content: url("../assets/image/404.png");
  }
}


