<ion-menu type="push" [content]="content">
    <ion-content color="primary">
        <div class="dis-t menu-header">
            <div class="dis-tc c-b">
                <img class="menu-user-photo" src="assets/image/user.jpg">
                <h2>dPary</h2>
            </div>
        </div>
        <!--<ion-list>-->
        <!--<button menuClose ion-item icon-left *ngFor="let p of pages" (click)="openPage(p)">-->
          <button menuClose ion-item icon-left *ngFor="let p of pages" (click)="openPage(p.component)">
                <ion-icon [name]="p.icon" color="primary" item-left></ion-icon>{{p.title}}
      </button>
        <!--</ion-list>-->

      <div>
        <button ion-button full (click)="goRegisterPage($event)"
                style="position:absolute; right:0px; bottom:0px;">设置</button>
      </div>

    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
